<div>
  <h1 class="title">{{site.about_me_title}}</h1>

  <img
    class="my_image"
    src="assets/img/IMG_7347.jpeg"
    alt="Yasmin Salehi"
    style="float: right; margin-left: 3em; vertical-align: middle"
  />
  <p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
</div>

<style>
  .my_image {
    max-width: 28%;
    /* height: auto; */
    /* object-fit: contain; */
    border-radius: 10%;
    position: relative;
  }
</style>

<!-- style="float: right; margin-left: 4em; vertical-align: middle" -->
<!-- <img src="assets/IMG_7347.jpeg" alt="Yasmin Salehi" />
<p class="description" data-aos="fade-down">{{site.about_me_description}}</p> -->
